.button{
    font-family: 'glacialindifference-regular';
    color: #c9c1c9;
    background: transparent;
    padding: 12px 15px;    
    border-radius: 50px;
    overflow: hidden;   
    max-width: 150px;
    position: relative;
    z-index: 3  ;
    border: 2px solid #58a6ff;
}
.buttoncircle{
    width: 200px;
    height: 200px;
    z-index: -1;
    transform: translate(-30% , -30%) scale(0);
    border-radius: 50%;
    background: #58a6ff;
    position: absolute;
}
.buttonText{
    font-size: 17px;
    text-align: center;
    width: 100%;
    background: transparent;
    color: #c9c1c9;
    border: none;
    width: 100%;
    height: 100%;
    font-family: 'glacialindifference-regular';
    z-index: 3;
}