/* fonts */
@font-face {
    font-family: "glacialindifference-regular";
    src: url('../assets/fonts/GlacialIndifference-Regular.otf');
}

@font-face {
    font-family: "glacialindifference-bold";
    src: url('../assets/fonts/GlacialIndifference-Bold.otf');
}

.title {
    font-family: 'glacialindifference-bold';
    color: #30363d;
    font-size: 70px;
    width: 50vw;
}

.title span {
    color: #58A6FF;
    text-shadow: 0 0 3px #58a6ffa4;
    display: inline-block;
}

.description {
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 20px;
    width: 700px;
    overflow: hidden;
}

.description span {
    display: inline-block;
    margin-right: 7px;
}

.first {
    display: flex;
    justify-content: space-between;
    position: relative;
}


.container {
    margin-top: 30px;
    display: flex;
}

.circle {
    width: 275px;
    height: 275px;
    /* make width and height equal */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    background: #000;
    align-items: center;
    justify-content: center;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* keeps aspect ratio and fills circle */
}


.stats {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    flex-direction: column;
}

.githubcontri {
    height: 180px;
    margin-top: 30px;
}

@media screen and (max-width: 1200px) {
    .description {
        max-width: 500px;
    }

} 
@media screen and (max-width: 1080px) {
    .first>div {
        max-width: 350px;
    }

} 
@media screen and (max-width: 820px) {
    .first {
       flex-direction: column;
       display: flex;
       align-items: center;
       justify-content: center;
    }
    .githubcontri{
        height: 0;
    }
    .description{
            width: auto;
    }
    .circle{
        width: 50vw;
        height: 50vw;
    }

}

@media screen and (max-width: 1400px) {
    .description {
        max-width: 600px;
    }

} 


@media screen and (max-width: 800px) {
    .circle {
        left: 0;
        top: 100%;
    }

    .me {
        margin-bottom: 400px;
    }
}

@media screen and (max-width: 400px) {
    .circle {
        width: 80vw;
        height: 80vw;
        margin-top: 20px;
    }
}