/* fonts */
@font-face {
    font-family: "glacialindifference-regular";
    src: url('../assets/fonts/GlacialIndifference-Regular.otf');
}
@font-face {
    font-family: "glacialindifference-bold";
    src: url('../assets/fonts/GlacialIndifference-Bold.otf');
}
.container {
    position: relative;
    display: flex;
    padding: 50px 75px;
    justify-content: space-between;
    color: #c9c1c9;
    font-family: "glacialindifference-regular";
    align-items: center;
}
.container .leftsmall{
    position: absolute;
    width: 0;
    border-radius: 50%;
    overflow: hidden;
}
.leftsmall img{
    transform: translate(15px , 10px);
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: contain;
}
.container .left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .left .logo{
    width: 75px;
    border-radius: 50%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #161b22;    
}
.logo{
    z-index: 133;
}
.logo img{
    object-fit: contain;
    height: 50px;
    width: 50px;;
    margin-top: 10px;
}
.container ul{
    transform: translateX(-35px);
    display: flex;
    gap: 30px;
    padding: 12px 35px 0 45px;
    height: 50px;
    background: #161b22;
    border-radius: 50px;
    z-index: 0;
}
.container ul li{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    
    cursor: pointer;
}

.container ul li:active{
    color: #58a6ff;

}
a{
    color: #c9c1c9;
}
.container ul li a:nth-child(2){
    transform: rotateX(90deg);
}

.button{
    font-family: 'glacialindifference-regular';
    color: #c9c1c9;
    background: transparent;
    padding: 12px 30px;    
    border-radius: 50px;
    border: 2px solid #58a6ff;
}

@media screen and (max-width: 550px) {
    .container{
        padding: 50px 40px;
    }
    
}

@media screen and (max-width: 800px) {
    .left{
        width: 0;;
        overflow: hidden;
        height: 0;
    }
    .container .leftsmall{
        display: initial;
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }

}

@media screen and (max-width: 400px) {
    .container{
        padding: 50px 20px;
    }
    
}