/* fonts */
@font-face {
    font-family: "glacialindifference-regular";
    src: url('../assets/fonts/GlacialIndifference-Regular.otf');
}
@font-face {
    font-family: "glacialindifference-bold";
    src: url('../assets/fonts/GlacialIndifference-Bold.otf');
}
.container {
    font-family: glacialindifference-regular;
    color: #c9c1c9;
    padding:    50px 200px;
}
@media screen and (max-width: 1470px) {
    .container{
        padding: 50px 150px;
    }
    
}
@media screen and (max-width: 1150px) {
    .container{
        padding: 50px 100px;
    }
    
}

@media screen and (max-width: 550px) {
    .container{
        padding: 50px 50px;
    }
}

@media screen and (max-width: 400px) {
    .container{
        padding: 50px 20px;
    }
    
}
@media screen and (max-width: 820px) {
    .container{
        padding: 50px 20px;
    }
    
}